/* Responsive layout */
@media screen and (min-width : 1025px) and (max-width : 1180px){

header nav {
	position:relative;
	float:right;
	right:95px;
}

}

/* iPads (portrait) ----------- */
@media screen and (min-width : 768px) and (max-width : 1024px){
html{
	min-width:0px;
}

header{
	width:100%;
}

content{
	width:100%;
}

.container_24{
	width:95%;
}

header nav {
	position:relative;
	float:right;
	right:110px;
}

.top-column-left img{
	width:100%;
}

.top-block{
	margin-bottom:-40px;
}

wrapper{
	width:100%;
}

#download-box{
	width:100%;
 }

.download-text{
	font-size:2.1em;
	padding-right:10px;
 }

.grid_15{
	width:100% !important;
	float:left;
	margin-right:-390px;
}

.suffix_1{
	padding:0px !important;
	margin-right:390px;
}

.grid_9{
	width:359px !important;
	float:right;
	margin-right:20px;
}

.row-1-row{
	margin-right:40px;
}

.screeny img{
	width:100%;
	height:100%;
}

.screeny td{
	padding: 10px 10px 10px 20px;
}

.os-wrapper{
	width:780px;
	position:static;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.grid_7{
	width:107px !important;
}

.os-image{
	width:100%;
}

#freebsd pre{
	margin-left:0px !important;
	text-align:center;
}

}


@media screen and (min-width : 600px) and (max-width : 767px){

html{
	min-width:0px;
}

header{
	width:100%;
	height:120px;
}

#logbase{
 text-align: center;
 }
 
header .logo {
	position:relative;	
	display: inline-block;	
}

content{
	width:100%;
}

.container_24{
	width:95%;
}

header nav {
	position:relative;
	width:600px;
	top:25px;
	margin-left:auto;
	margin-right:auto;

}

header li{
	padding-right:17px;;
}

wrapper{
	width:100%;
}
.top-block{
	height:310px;
	width:100%;
}

.top-column-left img{
	width:80%;
}

#download-box{
	margin-left:-50px;
	padding-top:140px;
	line-height:60px;
	display:inline-block;
}

.download-text{
	font-size:2.1em;
	padding-right:10px;
}

.grid_15{
	width:100% !important;
	float:left;
	margin-right:-390px;
}

.suffix_1{
	padding:0px !important;
	margin-right:390px;
}

.grid_9{
	width:359px !important;
	float:right;
	margin-right:20px;
}

#gh-frame{
	display:none;
}

.row-1-row{
	margin-right:30px;
}

.screeny img{
	width:100%;
	height:100%;
}

.screeny td{
	padding: 10px 10px 10px 20px;
}

.os-wrapper{
	width:600px;
	position:static;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.grid_7{
	width:70px !important;
}

.os-image{
	width:100%;
}

.down-box pre{
	padding-left:5px;
	padding-right:5px;
	margin-left:0px !important;
	white-space: pre-wrap;
}

.row-1 {
	padding-left:10px;
	padding-right:10px;
}

footer .container_24{
	padding-left:20px;
}

}


@media screen and (min-width : 480px) and (max-width : 599px){

html{
	min-width:0px;
}

header{
	width:100%;
	height:120px;
}

#logbase{
 text-align: center;
 }
 
header .logo {
	position:relative;	
	display: inline-block;	
}

content{
	width:100%;
}

.container_24{
	width:95%;
}

header nav {
	position:relative;
	width:480px;
	top:25px;
	margin-left:auto;
	margin-right:auto;
	padding-left:20px;
}
header nav li a {
	font-size:12px;
}

.forkme{
	display:none;
}

wrapper{
	width:100%;
}
.top-block{
	margin-left:-15px;
}

.top-column-left img{
	width:80%;
	position:static;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.top-column-left {
	width:100%;
}

top-block{
	width:100%;
}
.top-column-right {
	width:100%;
	line-height:0px;
	height:100px;
}

#download-box {
	width:234px;
	padding-top:0px;
	line-height:50px;
	position:static;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.download-text{
	font-size:2.1em;
 }

.grid_15{
	width:100% !important;
	float:left;
	margin-right:0px;
}

.suffix_1{
	padding:0px 20px 0px 10px !important;
	margin-right:0px;
}

.grid_9{
	width:100% !important;
	margin-left:-20px;
}

.box1{
	padding: 15px 10px;
	width:330px;
	position:static;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.box1 iframe{
	width:100% !important;
}

#gh-frame{
	display:none;
}

.row-1-row{
	margin-right:30px;
}

.screeny img{
	width:100%;
	height:100%;
}

.screeny td{
	padding: 10px 10px 10px 20px;
}

.os-wrapper{
	width:100%;
	position:static;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left:10px;

}

.grid_7{
	width:10% !important;
}

.os-image{
	width:100%;
}

.down-box pre{
	padding-left:5px;
	padding-right:5px;
	margin-left:0px !important;
	white-space: pre-wrap;
}

.row-1-row{
	padding-left:10px;
	padding-right:10px;
}

footer .container_24{
	padding-left:20px;
}

}


/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width : 1px) and (max-width : 479px) {
html{
	min-width:0px;
}

body>img{
	width:20%;
}

header{
	width:100%;
	height:165px;
}
#logbase{
 text-align: center;
 
 }
 
header .logo {
	position:relative;	
	display: inline-block;		
}

header nav {
	width:100%;
	position:absolute;
	left:0px;
	top:85px;

}

header nav li {
	float:none;
	padding-left:30px;
	padding-bottom:10px;
}

header nav li a {
	float:none;
	padding:5px 5px 5px 5px;
}

header ul{
	columns: 2;
	-webkit-columns: 2;
	-moz-column-count: 2;
}
.forkme{
	display:none;
}

.container_24{
	width:100%;
}

content{
	width:100%;
}

.top-column-left img{
	width:90%;
	position:static;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.top-column-left {
	width:100%;
}

top-block{
	width:100%;
}
.top-column-right {
	width:100%;
	line-height:0px;
	height:100px;
}

#download-box {
	width:234px;
	padding-top:0px;
	line-height:50px;
	position:static;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.download-text{
	font-size:2.1em;
 }

wrapper{
	width:100%;
}

.grid_15{
	width:100% !important;
	float:left;
	margin-right:0px;
}

.suffix_1{
	padding:0px 10px 0px 10px !important;
	margin-right:0px;
}
.grid_9{
	width:100% !important;
	margin-left:-5px;
}

.box1{
	padding: 15px 5px;
	width:330px;
	position:static;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.box1 iframe{
	width:100% !important;
	padding-left:5px;
}

#gh-frame{
	display:none;
}

footer {
	padding-left:10px;
	padding-right:10px;
}

.screeny{
	width:300px;
	margin-left: auto;
	margin-right: auto;
}

.screeny img{
	width:100%;
	height:100%;
}

.screeny td{
	display:block;
}

.os-wrapper{
	width:100%;
	width:100%;
	position:static;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left:10px;
}

.grid_7{
	width:51px !important;
}

.os-image{
	width:100%;
}

.down-box{
	padding-left:5px;
	padding-right:5px
}

.down-box pre{
	padding-left:5px;
	padding-right:5px;
	margin-left:0px !important;
	white-space: pre-wrap;
}

.row-1{
	padding-left:10px;
	padding-right:10px;
}

}


@media screen and (min-width : 1px) and (max-width : 340px) {
.box1{
	display:none;
}

}

